<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.squeezeday.marknadskoll"
      android:versionCode="2"
      android:versionName="1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <!-- activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity -->
        
        
        <receiver
            android:name=".Indicators"
            android:label="@string/indicators">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/indicators_widget" />
        </receiver>

        <service
            android:name=".Indicators$UpdateService"
            android:label="UpdateService" >

            <intent-filter>
                <action android:name="com.squeezeday.widget.indicators.action.UPDATE" />
            </intent-filter>
        </service>
        
        <activity android:name=".IndicatorsPreferences">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
		    </intent-filter>
		</activity>

    </application>
    <uses-sdk android:minSdkVersion="3" />
    
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest> 